body { background: #fafafa; }
	.box {
		position: absolute;
		user-select: none;
		transform: translate(-50%, -50%);
	}

	.resize-handler {
		height: 10px;
		width: 10px;
		background-color: #0055ff;
		position: absolute;
		border-radius: 100px;
		border: 1px solid #ffffff;
		user-select: none;
		display: none;
	}
	.resize-handler:hover {background-color: #0000cc;}
	.resize-handler.rotate {cursor: url('https://findicons.com/files/icons/1620/crystal_project/16/rotate_ccw.png'), auto;}

	:root {
		/* id-1*/
		--left-1: 200px;
		--top-1: 480px;
		--width-1: 338px;
		--height-1: 298px;
		--bg-1: #ffff00cc;
		--zi-1: 1;

		/* id-2 */
		--left-2: 240px;
		--top-2: 380px;
		--width-2: 110px;
		--height-2: 160px;
		--bg-2: #ffff00cc;
		--zi-2: 2;
	}
	
	#map_card{ background-image: url("images/map_card_front.png"); }
	#map_card.toggled{ background-image:url("images/map_card_back.png"); }
	
	#pirate_card{ background-image: url("images/pirate_card_front.png"); }
	#pirate_card.toggled{ background-image:url("images/pirate_card_back.png"); }
	
	#trump_card { display:visible; }
	#trump_card.toggled { display:none; }